{{#> blog_layout}}
<h1><a href="/">wwxr.io</a> - <a href="/blog">blog</a></h1>
<h2><a class="post" href="/blog/{{date}}--{{slug}}">{{title}}</a></h2>
<span>{{prettyDate}}</span>
{{{content}}}
{{/blog_layout}}
