{{#> layout}}
  <style>
    main { max-width: 1000px; margin: auto; }
    h1 { display: inline; margin-right: 0.5em; }
    .nav { font-size: 14pt; }
    .nav a { margin: 0 0.1em; }
    .types { margin: 0.2em 0; }
    .desc { margin: 0.2em 0; height: 2.5em; overflow: hidden; position: relative; }
    .fade { 
      background: linear-gradient(rgba(255, 255, 255, 0), white);
      width: 100%; height: 1em;
      position: absolute; bottom: 0;
    }
    .result { padding: 1em 0; border-bottom: 1px solid lightgrey; }
    .url, .title { display: inline-block; max-width: 90vw; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12pt; }
    .paging { margin: 1em 0; }
    .tag { 
      border: 1px solid black;
      padding: 0.1em 0.2em;
      display: inline-block;
      text-decoration: none;
      height: 1em;
      text-align: center;
      margin-right: 0.2em;
      padding-bottom: 0.2em;
    }
    .meta .tag, .url { color: #666; margin-top: 0.2em; }
    .links, .meta { display: flex; align-items: center; }
    .links a { margin: 0; margin-right: 0.5em; }
    .model { margin-bottom: 0.5em; }
    .meta { margin-bottom: 0.3em; }
    .icon { height: 32px; }
    header { display: flex; align-items: center; }
  </style>
  <main>
    <header>
      <h1><a href="/">wwxr.io</a></h1>
      <span class="nav">
        <a href="/explore">explore</a>
        <a href="/blog">blog</a>
      </span>
    </header>
    <form>
      <input tabindex="1" name="q" value="{{q}}" />
      <button>search</button>
      <div class="types">
      <label><input type="radio" name="t" value="all" {{#if types.all}}checked{{/if}} />all</label>
      <label><input type="radio" name="t" value="aframe" {{#if types.aframe}}checked{{/if}} />a-frame</label>
      <label><input type="radio" name="t" value="gltf" {{#if types.gltf}}checked{{/if}} />gltf</label>
      {{#if isAppleDevice}}
      <label><input type="radio" name="t" value="usdz" {{#if types.usdz}}checked{{/if}} />usdz</label>
      {{/if}}
      </div>
    </form>
    <div>{{totalCount}} results</div>
    {{#each results}}
      <div class="result">
        <a class="title" href="{{url}}" title="{{prettyTitle}}">{{prettyTitle}}</a><br/>

        <div class="meta">
          {{#if hasScene}}
          <span class="tag">af</span>
          {{else}}
          <span class="tag">mv</span>
          {{/if}}
          <span class="url">{{prettyUrl}}</span>
        </div>

        <div class="desc">
          {{description}}
          <div class="fade"></div>
        </div>

        <div class="links">
          {{#if ../isAndroid}}
          {{#each models}}
          <a href="intent://arvr.google.com/scene-viewer/1.0?file={{this}}#Intent;scheme=https;package=com.google.android.googlequicksearchbox;action=android.intent.action.VIEW;S.browser_fallback_url={{this}};end;"><img class="icon" src="/static/arcore.png" /></a>
          {{/each}}
          {{/if}}

          {{#if ../isIDevice}}
          {{#each iosModels}}
          <a rel="ar" href="{{this}}"><img class="icon" src="/static/arkit.png" /></a>
          {{/each}}
          {{/if}}

          {{#each models}}
          <a class="model" href="{{this}}">gltf</a>
          {{/each}}

          {{#if ../isAppleDevice}}
          {{#each iosModels}}
          <a class="model" href="{{this}}">usdz</a>
          {{/each}}
          {{/if}}
        </div>
      </div>
    {{/each}}

    <div class="paging">
      <a {{#unless isFirstPage}}href="?q={{q}}&p={{prevPage}}"{{/unless}}>prev</a>
      <a {{#unless isLastPage}}href="?q={{q}}&p={{nextPage}}"{{/unless}}>next</a>
    </div>
  </main>
{{/layout}}
